<div class="option">
	<div class="logo">
		<p class="logo">TSAFIAPP</p>
	</div>
	
	<button class="main">Aplicación Tsafiki</button>
	<div class="clear"></div>
	<ul class="menu">
		<a [routerLink]="['/principal']">
			<i class="fa fa-dashboard"></i>
			Dashboard
		</a>
		<br>
		<a [routerLink]="['/usuario']">
			<i class="fa fa-tasks"></i>
			Usuarios
		</a>
		<a  [routerLink]="['/audios']">
			<i class="fa fa-book"></i>
			Audios
		</a>
		<a [routerLink]="['/imagenes']">
			<i class="fa fa-newspaper-o"></i>
			Imagenes
		</a>
		<a class="active" [routerLink]="['/videos']">
			<i class="fa fa-money"></i>
			Videos
		</a>
	</ul>
</div>

<div class="dashboard-heading">
	<div class="panel">
		<i class="fa fa-bell">
			<img 
            width="40px"
            src="https://previews.123rf.com/images/manganganath/manganganath1403/manganganath140300442/27042094-flag-of-santo-domingo-de-los-tsachilas-province-ecuador.jpg" alt="" srcset="">
		</i>
		<div ng-app="app" ng-controller="coin">
			
		</div>
	</div>
	<div class="all">
		

	</div>

</div>